html {
    scroll-behavior: smooth;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin: auto;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 2vw;
    max-width: 50%;
}

p {
    font-size: 1.3vw;
    line-height: 2vw;
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}
/*.navbar-brand{
  background-color:#134B5C;
}
*/

img{
    /*border: 1px solid black;*/
    width: 35%;
    height: auto;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    cursor: url('https://wenogk.github.io/sound-journey/About/Images/music36.png')
  }

.pics:hover {
  cursor: url('https://wenogk.github.io/sound-journey/About/Images/music36.png'), auto;
}

.content0{
    padding-top: 4%;
    padding-bottom: 4%;
}
.content {
    padding-top: 4%;
    padding-bottom: 4%;
}

.by_description {
    margin-top: 3%;
    margin-bottom: 2%;
}
#myBtn {

  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
#main{
    background-color: #134B5C;
}

#background1{
    background-color: #F9F1F0;
}

#background2{
    background-color: #98BAC3;
}
#background3{
    background-color: #134B5C;
    color:white;
}
.thirdpage{
	text-align: center;

}
/*.pics{
	margin-left: 1%;
	border: 2px solid black;
	width: 360px;
	height: 488px;
}*/

.content p{
    text-align: center;
}

/* code copied from w3schools */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;

  }

  .fa:hover {
      opacity: 0.7;

  }
  span:hover {
    color: black !important;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }
  .navbar-brand, .nav-link, p, .planeFont {
    font-family: 'Contrail One', cursive;
  }
  .navbar-brand {
    text-align: center;
    font-size: 30px;
  }

  .navbar-brand small {
    text-align: center;
    display:block;
    font-size:16px;
  }
