.plane {
  position: absolute;
  bottom: 0;
  left: 0;
  width:15vw;
}

audio {
  width:100%;
}

.visuals {
  padding:20px;
  height: 70vh;
  max-width: 100vw;
}

.visuals > img {
  position:relative;
  height: 100%;
  width: auto;
  max-width: 100%;
  cursor: pointer;
}

.v-center {
   display: flex;
   align-items: center;
}

.playPauseButton:hover {
  cursor: pointer;
}

