
.plane {
  position: absolute;
  bottom: 0;
  left: 0;
  width:15vw;
}

audio {
  width:100%;
}

.contentHolder {
  margin: 0;
  width:100vw;
}

.visuals {
  padding:20px;
  overflow:auto;
}

.visuals > img {
  position:relative;
  height: 53.3vh;
  width: 80vh;
}

.v-center {
   display: flex;
   align-items: center;
}
.playerHolder {
  position: fixed;
Width: 100%;
bottom: 0;
  padding:50px;
}
.playPauseButton:hover {
  cursor: pointer;
}
.playPauseButtonHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mask1 { /* 155 x 737 dimensions of the image*/
  position:absolute;
  top: -800px;
  left:0px;

}

.mask2 { /* 155 x 737 dimensions of the image*/
  position:absolute;
  top: -800px;
  right:0px;
}

@media only screen and (max-width: 600px) {
  .container {
    width:100vw;
  }
  .visuals {
    margin-top:15px;
    padding: 5px;
    overflow:auto;
  }

  .visuals > img {
    position:relative;
    height: 53.3vw;
    width: 80vw;
  }

  .playerHolder {
    padding:5px;
  }

  .playPauseButtonHolder {
    text-align: center !important;
  }
}
